{% extends 'base/master.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/guest_form.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid mx-auto">
    <div class="max-w-4xl mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg my-8">
        <h1 class="text-2xl font-bold text-gray-900 dark:text-white text-center">Form Submitted Successfully</h1>
        <p class="text-gray-600 dark:text-gray-400 text-center">Thank you for submitting the form. Inform the admin to
            check the data.</p>
        <p class="text-gray-600 dark:text-gray-400 text-center">UUID: {{ uuid }}</p>
        <p class="text-gray-600 dark:text-gray-400 text-center">You can now close this page.</p>
    </div>
</div>
{% endblock %}